@font-face {
    font-family: 'Guminert';
    src: url('font/guminert.ttf') format('truetype');
}

body {
    font-family: Guminert, sans-serif;
}

.registration-field {
    display: block;
    background-color: rgba(252, 242, 242, 0.25);
    color: rgba(253, 253, 253, 0.4);
    width: 20rem;
    height: 3rem;
    border-radius: 1rem;
    padding-left: 1rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 0.5vh;
}

.label-font {
    font-size: 0.9rem;
}
